@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}


@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/* ============================================================== */

.popupBG {
    width: 100%; height: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 997;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


/* -------------------search---------------------- */
.top-search {
    max-width: 1296px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 998;
    background-color: #fff;
    display: none;
} 

.top-search .search-area {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}
.top-search .search-area .search-con {
    position: relative;
    height: 72px;
    padding: 0 40px;
    border: 2px solid #292929;
    border-radius: 100px;
}
.top-search .search-area .search-con > input {
    width: calc(100% - 60px);
    height: 100%;
    font-size: 1.25rem;
    font-family: 'Pretendard-Medium';
    line-height: 30px;
    background: transparent;
    border: 0;
    outline: 0;
}

.top-search .search-area .search-con > button{
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 25%;
    right: 40px;
    cursor: pointer;
}

.top-search .search-area .search-con > button:hover {
    opacity: .5;
}

.top-search .search-area .search-tag {
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-search .search-area .search-tag dt {
    margin-right: 20px;
    color: #333;
    font-family: 'Pretendard-SemiBold';
}
.top-search .search-area .search-tag dd {
    display: block;
}
.top-search .search-area .search-tag dd > button {
    display: inline-block;
    height: 40px;
    margin: 0 4px;
    padding: 0 24px;
    background-color: #E6E6E6;
    border: 0;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    border-radius: 100px;
}

.top-search .search-area .search-tag dd > button:hover {
    opacity: .7;
    cursor: pointer;
}

.top-search .srh-close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 8%;
    right: 0;
}

.top-search .srh-close img {
    width: 24px;
    height: 24px;
}


.top-search .srh-close:hover {
    cursor: pointer;
    opacity: .5;
}


/*  =============헤더========== */
header {
    width: 100%;
    background-color: white;
    height: 90px;
}

header .container {
    max-width: 1296px;
    height: 90px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* === 로고 === */
header .container .logo {
    z-index: 9999;
}
header .container .logo a {}

/* === 네비 === */
header .container nav {}
header .container nav > ul {
    display: flex;
}
header .container nav > ul .depth1 {
    position: relative;
}

header .container nav > ul .depth1 > a {
    display: block;
    font-size: 1rem;
    font-family: 'Pretendard-Medium';
    color: #292929;
    padding: 15px 30px;
}

header .container nav > ul .depth1 > a:hover {
    background-color: #eee;
    border-radius: 10px;
}

header .container nav > ul .depth1 .depth2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 5%;
    border-radius: 20px;
    transition: all .3s;
    background-color: #26BCF7;
}

header .container nav > ul .depth1 .depth2 > li {
    border: 1px solid gray;
}
header .container nav > ul .depth1 .depth2 > li > a {
    display: block;
    color: #111;
    font-family: 'Pretendard-Regular';
    font-size: 0.875rem;
    white-space: nowrap;
    padding: 10px 20px;
}

/* === 아이콘 === */
header .container .nav-btn {}
header .container .nav-btn a {
    margin-right: 24px;
}
header .container .nav-btn a:hover {
    opacity: .5;
}

header .container .nav-btn a:nth-child(3) {
    margin-right: 0;
}
header .container .nav-btn img {
    width: 24px;
    height: 24px;
}


/* ==================== 메인 =================== */
main {}
/* main-container */
main .main-container {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
}
main .main-container h1 {
    padding-top: 100px;
    font-size: 3.125rem;
    font-family: 'Pretendard-SemiBold';
    background: url('../images/ico_date12.gif') no-repeat 0 94px;
    background-size: 132px
}
main .main-container h1 p {
    padding-left: 144px;
}
main .main-container h1 span {
    padding-left: 144px;
}
main .main-container .content {
    padding: 40px 0 0;
    width: 100%;
}

/* left */
main .main-container .content-top {
    display: flex;
}
main .main-container .content-top .item-left {
    width: 630px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
}

main .main-container .content-top .item-left:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

main .main-container .content-top .item-left .news {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;

}
main .main-container .content-top .item-left .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
main .main-container .content-top .item-left > a {
    display: block;
    font-size: 2rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 28px 0 0 24px;
    word-break: keep-all;
    transition: all .5s;
}

main .main-container .content-top .item-left > a:hover {
    animation: font .5s infinite;
}

@keyframes font {
    0% {transform: translateX(0);}
    100% {transform: translateX(10px);}
}


main .main-container .content-top .item-left > a > em {
    float: left;
    font-style: normal;
}

main .main-container .content-top .item-left .news-desc {
    display: block;
    font-size: 1.25rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 32px 0 28px 24px;
    white-space: nowrap;
}

main .main-container .content-top .item-left video {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* right */
main .main-container .content .content-top .item-mid {}

/*museum */
main .main-container .content .content-top .item-mid .museum {
    width: 324px;
    height: 415px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    margin-left: 24px;
    position: sticky;
    top: 10px;
}

main .main-container .content .content-top .item-mid .museum:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

main .main-container .content .content-top .item-mid .museum .news {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
main .main-container .content .content-top .item-mid .museum .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
main .main-container .content .content-top .item-mid .museum > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 28px 0 0 24px;
    word-break: keep-all;
}

main .main-container .content .content-top .item-mid .museum > a > em {
    float: left;
    font-style: normal;
}
main .main-container .content .content-top .item-mid .museum .news-desc2 {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 0 24px;
}
main .main-container .content .content-top .item-mid .museum .news-desc2 > em {
    font-style: normal;
    float: left;
}
main .main-container .content .content-top .item-mid .museum img {}

/* item-right */
main .main-container .content .content-top .item-right {}

/* covid19 */
main .main-container .content .content-top .item-right .covid19 {
    width: 294px;
    height: 194px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    margin-left: 24px;
}

main .main-container .content .content-top .item-right .covid19:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

main .main-container .content .content-top .item-right .covid19 .news {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
main .main-container .content .content-top .item-right .covid19 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
main .main-container .content .content-top .item-right .covid19 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
    word-break: keep-all;
}
main .main-container .content .content-top .item-right .covid19 > a > em {
    float: left;
    font-style: normal;
}
main .main-container .content .content-top .item-right .covid19 .news-desc3 {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 0 24px;
}

/* dust */
main .main-container .content .content-top .item-right .dust {
    width: 294px;
    height: 194px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    margin: 27px 0 0 24px;
    position: sticky;
    top: 10px;
}

main .main-container .content .content-top .item-right .dust:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

main .main-container .content .content-top .item-right .dust .news {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
main .main-container .content .content-top .item-right .dust .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
main .main-container .content .content-top .item-right .dust > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
    word-break: keep-all;
}
main .main-container .content .content-top .item-right .dust > a > em {
    float: left;
    font-style: normal;
}
main .main-container .content .content-top .item-right .dust .news-desc3 {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 0 24px;
}

/* main-banner */
main .main-banner {
    width: 100%;
    margin-top: 80px;
}
main .main-banner .banner {
    background: url('../images/banner1-1.png') no-repeat 0 0;
    height: 300px;
    position: relative;
}
main .main-banner .banner > a {
    background-color: #27519B;
    color: #fff;
    width: 454px;
    height: 56px;
    border: 0;
    font-size: 1.5rem;
    font-family: 'Pretendard-SemiBold';
    border-radius: 50px;
    position: absolute;
    bottom: 6%;
    left: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main-banner .banner > a img {}
main .main-banner .banner > a img:hover {}






/* main-visual */
main .main-visual {
    max-width: 1296px;
    display: flex;
    margin: 0 auto;
}
/* left-box */
main .main-visual .left-box {
    width: 636px;
    height: 358px;
    background-color: rgba(38, 188, 247, 60%);
    border-radius: 20px;
    margin: 80px 24px 0 0;
    background-image: url('../images/tower.png');
    background-repeat: no-repeat;
    background-position: 85% center;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    animation-duration: 3s;
    transition: all .3s linear;
}

main .main-visual .left-box > p {
    font-size: 2.125rem;
    font-family: 'Pretendard-Bold';
    color: #fff;
    padding: 44px 0 0 44px;
}
main .main-visual .left-box > p > em {
    font-style: normal;
    float: left;
}
main .main-visual .left-box > a {
    font-size: 1.25rem;
    font-family: 'Pretendard-Medium';
    color: #fff;
    background-color: #26BCF7;
    border-radius: 50px;
    padding: 14px 55px 13px 17px;
    float: left;
    margin: 82px 0 0 44px;
    background-image: url('../images/right-btn2.png');
    background-repeat: no-repeat;
    background-position: 94% center;
}

main .main-visual .left-box > a:hover {
    animation: ani .5s infinite alternate;
}

@keyframes ani {
    0% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}

main .main-visual .left-box > img {}

/* right-box */
main .main-visual .right-box {
    width: 636px;
    height: 358px;
    background-color: #FCEFE6;
    border-radius: 20px;
    margin: 80px 0 0 0;
    background-image: url('../images/search-photo.png');
    background-repeat: no-repeat;
    background-position: 90% bottom;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    animation-duration: 3s;
}

main .main-visual .right-box > a:hover {
    animation: ani .5s infinite alternate;
}

@keyframes ani {
    0% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}

main .main-visual .right-box > p {
    font-size: 2.125rem;
    font-family: 'Pretendard-Bold';
    color: #000;
    padding: 44px 0 0 44px;
}

main .main-visual .right-box > a {
    float: left;
    font-size: 1.25rem;
    font-family: 'Pretendard-Medium';
    color: #fff;
    background-color: #4D606F;
    border-radius: 50px;
    padding: 14px 55px 13px 17px;
    margin: 82px 0 0 44px;
    background-image: url('../images/right-btn3.png');
    background-repeat: no-repeat;
    background-position: 94% center;
}

/* sns-banner */
main .sns-banner {
    max-width: 1296px;
    margin: 24px auto 0;
}
main .sns-banner .sns-box {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: space-between;
}
main .sns-banner .sns-box h3 {
    font-size: 2.25rem;
    font-family: 'Pretendard-Bold';
    padding: 34px 0 35px 40px;
}
main .sns-banner .sns-box .sns-icon {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
main .sns-banner .sns-box .sns-icon a:hover {
    transform: scale(0.9);
}

/* ==== content-wrap ====  */
.content-wrap {
    max-width: 1296px;
    margin: 24px auto 0;
    display: flex;
    justify-content: space-between;
}
.content-wrap .wrap-left {}
/* wrap-box1 */
.content-wrap .wrap-left .wrap-box1 {
    width: 309px;
    height: 197px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    margin-bottom: 24px;
    clear: both;
}

.content-wrap .wrap-left .wrap-box1:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

.content-wrap .wrap-left .wrap-box1 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.content-wrap .wrap-left .wrap-box1 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.content-wrap .wrap-left .wrap-box1 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
    clear: both;
}
.content-wrap .wrap-left .wrap-box1 > a > em {
    display: block;
    font-style: normal;
}
.content-wrap .wrap-left .wrap-box1 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    padding: 150px 0 0 24px;

}

/* wrap-box2 */
.content-wrap .wrap-left .wrap-box2 {
    width: 309px;
    height: 198px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin-bottom: 24px;
    transition: all .2s ease-in-out;
}

.content-wrap .wrap-left .wrap-box2:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}


.content-wrap .wrap-left .wrap-box2 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.content-wrap .wrap-left .wrap-box2 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.content-wrap .wrap-left .wrap-box2 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
}
.content-wrap .wrap-left .wrap-box2 > a > em {
    float: left;
    font-style: normal;
}
.content-wrap .wrap-left .wrap-box2 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 0 24px;
}

/* wrap-box3 */
.content-wrap .wrap-left .wrap-box3 {
    width: 309px;
    height: 428px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
}

.content-wrap .wrap-left .wrap-box3:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

.content-wrap .wrap-left .wrap-box3 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.content-wrap .wrap-left .wrap-box3 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.content-wrap .wrap-left .wrap-box3 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
}
.content-wrap .wrap-left .wrap-box3 > a > em {
    float: left;
    font-style: normal;
}
.content-wrap .wrap-left .wrap-box3 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 26px 24px;
}

/* === wrap-mid === */
.wrap-mid {}
/* wrap-box4 */
.wrap-mid .wrap-box4 {
    width: 297px;
    height: 419px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin-bottom: 24px;
    transition: all .2s ease-in-out;
}

.wrap-mid .wrap-box4:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

.wrap-mid .wrap-box4 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.wrap-mid .wrap-box4 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.wrap-mid .wrap-box4 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 10px 0 0 24px;
}
.wrap-mid .wrap-box4 > a > em {
    float: left;
    font-style: normal;
}
.wrap-mid .wrap-box4 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 16px 0 14px 24px;
}
.wrap-mid .wrap-box4 .notice img {}

/* wrap-box5 */
.wrap-mid .wrap-box5 {
    width: 297px;
    height: 419px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
}

.wrap-mid .wrap-box5:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

.wrap-mid .wrap-box5 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.wrap-mid .wrap-box5 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.wrap-mid .wrap-box5 > a {
    display: block;
    font-size: 1.625rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 20px 0 0 24px;
}
.wrap-mid .wrap-box5 > a > em {
    float: left;
    font-style: normal;
}
.wrap-mid .wrap-box5 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 20px 0 26px 24px;
}
.wrap-mid .wrap-box5 .notice img {}

/* wrap-right */
.wrap-right {}

/* wrap-box6 */
.wrap-right .wrap-box6 {
    width: 642px;
    height: 703px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .2s ease-in-out;
    position: sticky;
    top: 10px;
}

.wrap-right .wrap-box6:hover {
    box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}

.wrap-right .wrap-box6 .notice {
    background-color: #E6E6E6;
    display: inline-block;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 12px;
    margin: 24px 0 0 24px;
    float: left;
}
.wrap-right .wrap-box6 .date {
    display: inline-block;
    color: #7D7D7D;
    font-size: 1rem;
    font-family: 'Pretendard-ExtraLight';
    margin: 24px 24px 0 0;
    float: right;
}
.wrap-right .wrap-box6 > a {
    display: block;
    font-size: 2.5rem;
    font-family: 'Pretendard-Bold';
    float: left;
    padding : 34px 0 0 24px;
    clear: both;
}
.wrap-right .wrap-box6 > a:hover {
animation: font .5s infinite;
}

.wrap-right .wrap-box6 > a > em {
    display: block;
    font-style: normal;
}
.wrap-right .wrap-box6 .notice-desc {
    display: block;
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #7D7D7D;
    float: left;
    padding: 30px 0 28px 24px;
}
.wrap-right .wrap-box6 img {}

/* ==== gallery ==== */
.gallery {
    max-width: 1296px;
    margin: 24px auto 0;
    display: flex;
}
.gallery .video {
    width: 630px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin-right: 24px;
    position: sticky;
    top: 10px;
}
.gallery .video .video-title {
    display: flex;
    justify-content: space;
    align-items: center;
    padding: 24px 24px 0 24px;
}
.gallery .video .notice {
    background-color: #E6E6E6;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding: 6px 22px;
    display: block;
    margin-left: 0.5rem;
}
.gallery .video .video-box {
    display: flex;
}

/* video-left */
.gallery .video .video-left {
    display: block;
    margin: 28px 0 65px 24px;
}
.gallery .video .video-left img {
    background-image: url('../images/play-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
}
.gallery .video .video-left p {
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    margin-top: 12px;
}
.gallery .video .video-left p:hover {
    text-decoration: underline;
}

/* video-right */
.gallery .video .video-right {
    display: block;
    margin: 28px 0 65px 24px;
}
.gallery .video .video-right img {}

.gallery .video .video-right p {
    font-size: 0.875rem;
    margin-top: 12px;
    font-family: 'Pretendard-Regular';
}

.gallery .video .video-right p:hover {
    text-decoration: underline;
}

/* ==service== */
.gallery .service {
    width: 642px;
    height: 468px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
}
.gallery .service .mySwiper {
    max-width: 600px;
    width: 100%;
    margin: 40px auto 0;
}
.gallery .service .mySwiper h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Pretendard-Bold';
    color: #393939;
}

.gallery .service .mySwiper .swiper-wrapper {
    width: 100%;
}
.gallery .service .mySwiper .swiper-wrapper .swiper-slide {
    width: 100%;
}
.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box #ser {
    margin-top: 40px;
}
.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box #ser a {
    display: block;
    text-align: center;
}

.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box #ser a img {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    transition: all .3s linear;
}

.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box #ser a span {
    font-size: 0.875rem;
    font-family: 'Pretendard-Light';
    color: #393939;
    display: block;
    text-align: center;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 16px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #393939;
}


.gallery .service .mySwiper .swiper-wrapper .swiper-slide .service-box #ser > a:hover img {
    box-shadow: 4px 10px 10px 6px rgba(0,0,0,.18);
    transform: translateY(-5px);
}


/* ===tab=== */
.tab {
    margin: 24px auto 0;
    max-width: 1296px;
}


.tab_content {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin: 0 auto;
}


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    width: 294px;
    height: 56px;
    background-color: #fff;
    border-radius: 28px;
    color: #000;
    font-size: 1.25rem;
    font-family: 'Pretendard-SemiBold';
    text-align: center;
    line-height: 56px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .12);
    margin-top: 24px;
    margin-left: 20px;
    cursor: pointer;
}

input[type="radio"] + label:hover {
box-shadow: 4px 12px 20px 6px rgba(0,0,0,.18);
transform: translateY(-5px);
}


input[type="radio"]:checked + label {
    background-color: #9c9c9c;
    color: #fff;
}

.conbox {
    width: 100%;
    display: none;
}

.conbox .con-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 40px 20px 40px;
}

.conbox .con-wrapper .box1 {}
.conbox .con-wrapper .box1 a {
    display: block;
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    padding-bottom: 20px;
}

.conbox .con-wrapper .box1 a:hover {
    text-decoration: underline;
    opacity: .7;
}


input[id="tab01"]:checked ~ .con1 {
    display: block;
}
input[id="tab02"]:checked ~ .con2 {
    display: block;
}
input[id="tab03"]:checked ~ .con3 {
    display: block;
}
input[id="tab04"]:checked ~ .con4 {
    display: block;
}


/* ============= 푸터 ============== */
footer {
    width: 100%;
    margin: 200px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    position: relative;
}
/* bottom-nav */
footer .bottom-nav {
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
}
footer .bottom-nav > ul {
    display: flex;
    justify-content: space-around;
}
footer .bottom-nav ul .depth1-1 {
    position: relative;
    padding-top: 30px;
}

footer .bottom-nav ul .depth1-1 > a {
    display: flex;
    color: #000;
    font-size: 1rem;
    font-family: 'Pretendard-Medium';
    align-items: center;
}

footer .bottom-nav ul .depth1-1 > a > i {
    margin-left: 10px;
}

footer .bottom-nav ul .depth1-1 .depth2-1 {
    position: absolute;
    top: -390%;
    left: -20%;
    width: 180px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eee;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
    display: none;
}
footer .bottom-nav ul .depth1-1 .depth2-1 li {
    padding-top: 10px;
}
footer .bottom-nav ul .depth1-1 .depth2-1 li > a {
    font-size: 0.875rem;
    font-family: 'Pretendard-Regular';
    color: #666;
    padding: 0 20px;
    word-break: keep-all;
}

/* info */
footer .info {
    max-width: 1296px;
    margin: 50px auto;
}
footer .info ul {
    display: flex;
    justify-content: space-around;
}
footer .info ul li {}
footer .info ul li a {
    display: block;
    color: #888;
    font-size: 0.875rem;
    font-family: 'Pretendard-Light';
}

footer .info ul li a:hover {
    color: #000;
}

/* footer-bottom */
footer .footer-bottom {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
footer .footer-bottom .f-logo {
    margin-right: 40px;
}
footer .footer-bottom .address {
    margin: 0 40px 0 0;
    text-align: left;
}

footer .footer-bottom .address span {
    display: block;
    color: #888;
    font-size: 0.75rem;
    font-family: 'Pretendard-ExtraLight';
}

footer .footer-bottom .call-logo {
    margin-right: 10px;
}
footer .footer-bottom .wa-logo {}


/* === go-top === */
footer > a {
    display: block;
    position: absolute;
    top: -30%;
    right: 16%;
}

footer > a:hover {
    animation: top 1s infinite;
}

@keyframes top {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
}