@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}


.tab_content {
    display: block;
    width: 1296px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin: 0 auto;
}


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    width: 294px;
    height: 56px;
    background-color: #fff;
    border-radius: 28px;
    color: #000;
    font-size: 20px;
    text-align: center;
    line-height: 56px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .12);
    margin-top: 24px;
    margin-right: 24px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #9c9c9c;
    color: #fff;
}

.conbox {
    width: 500px;
    height: 600px;
    display: none;
}

input[id="tab01"]:checked ~ .con1 {
    display: block;
}
input[id="tab02"]:checked ~ .con2 {
    display: block;
}
input[id="tab03"]:checked ~ .con3 {
    display: block;
}
input[id="tab04"]:checked ~ .con4 {
    display: block;
}